<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="javascript">

    <div id="todoapp">

      <header>
        <h1>Todos</h1>
        <form id="todoForm">
          <input type="text" id="textBox" placeholder="What do you need to do?">
        </form>
      </header>

      <section id="main">
        <ul class="todos" id="todos"></ul>
      </section>

    </div>

    <% scripts.forEach(function(script) { %>
      <% if (typeof script === "object") { %>
        <script type="<%= script.type %>" src="<%= script.src %>"></script>
      <% } else { %>
        <script src="<%= script %>"></script>
      <% } %>
    <% }) %>

  </body>
</html>

